<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-3">Scheduler</h1>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <form class="row g-2">
        <div class="col-5">
          <input id="selectedDate" type="date" class="form-control" [(ngModel)]="selectedDate" name="selectedDate"/>
        </div>
        <div class="col">
          <div>
            <input disabled type="text" class="form-control" [(ngModel)]="dayOfWeek" name="dayOfWeek" />
          </div>
        </div>
        <div class="col">
          <button class="btn btn-primary float-end" (click)="getSchedule()">Get Schedule</button>
        </div>
      </form>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Scheduled Time</th>
            <th>Task Name</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let timeSlot of schedule.timeSlots; index as i'>
            <td>{{timeSlot.slotTime}}</td>
            <td style="font-weight:bold;">{{timeSlot.taskName}}</td>
            <td><input type="checkbox" [(ngModel)]="timeSlot.completedTask" disabled /></td>
          </tr>
        </tbody>
      </table>
      <!-- Button trigger modal -->
      <div class="row">
        <div class="col-auto" *ngIf="schedule.timeSlots && schedule.timeSlots.length == 0">
          
        </div>
        <div class="col-auto" *ngIf="schedule.timeSlots && schedule.timeSlots.length > 0">
          <button *ngIf="schedule.scheduleId.includes('0000')" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-keyboard="false" data-bs-target="#editModal">
            <i class="bi bi-plus-circle"></i> Add Schedule
          </button>
          <button *ngIf="!schedule.scheduleId.includes('0000')" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-keyboard="false" data-bs-target="#editModal">
            <i class="bi bi-pencil-fill"></i> Edit Schedule
          </button>
        </div>
        <div class="col-auto" *ngIf="!schedule.scheduleId.includes('0000')">
          <button type="button" class="btn btn-danger" (click)="deleteSchedule()">Delete</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" data-bs-backdrop="static" aria-labelledby="editModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="editModalLabel">Edit Schedule</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Scheduled Date</th>
                <th>Task Name</th>
                <th>Completed Task</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let timeSlot of schedule.timeSlots; index as i'>
                <td>{{timeSlot.slotTime}}</td>
                <input type="text" class="form-control" placeholder="Task Name" [(ngModel)]="timeSlot.taskName" name={{timeSlot.taskId}}/>
                <td><input type="checkbox" [(ngModel)]="timeSlot.completedTask" name={{timeSlot.timeSlotId}} /></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-outline-primary" role="button" (click)="updateSchedule()" data-bs-dismiss="modal">Save</button>
          <button class="btn btn-danger" role="button" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
